@charset "UTF-8";

body {
    /*Box model stuff*/
    background-color: #000000;
    /*Typography stuff*/
    font-family: var(--font-dm-sans);
}

/* sidebar */

div.sidebar {
    /*Positioning stuff*/
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    /*Box model stuff*/
    width: 300px;
    padding: 12px;
}

nav.sidebar__navigation {
    /*Box model stuff*/
    padding: 16px 0 0 16px;
    border-radius: 8px;
    background-color: #121212;
}

div.logo {
    /*Display stuff*/
    display: flex;
    /*Box model stuff*/
    padding: 16px 0 0 16px;
    border-radius: 8px;
    background: #121212;
}

div.logo img {
    /*Box model stuff*/
    width: 80px;
}

nav.sidebar__navigation ul {
    /*Box model stuff*/
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

nav.sidebar__navigation ul li {
    /*Box model stuff*/
    padding: 10px 0;
}

nav.sidebar__navigation ul li a {
    /*Typography stuff*/
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #b3b3b3;
}

div.library {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*Box model stuff*/
    margin-top: 10px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #121212;
    /*Typography stuff*/
    font-size: 14px;
    font-weight: 600;
    color: #b3b3b3;
    /*Miscellaneous*/
    min-block-size: 40px;
}

div.library__content {
    /*Display stuff*/
    display: flex;
    justify-content: space-between;
}

button.library__button {
    /*Display stuff*/
    display: flex;
    /*Box model stuff*/
    margin-right: 10px;
    padding: 20px 10px;
    border: 0px;
    background-color: transparent;
    /*Typography stuff*/
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    color: #b3b3b3;
}

button.library__button span.fa {
    /*Box model stuff*/
    margin-right: 10px;
    padding-right: 8px;
    /*Typography stuff*/
    font-size: 20px;
    font-weight: 300;
}

div.library span.fa-plus {
    /*Box model stuff*/
    margin: 24px 10px;
}

section.section-playlist {
    /*Display stuff*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*Box model stuff*/
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
    background-color: #242424;
    /*Typography stuff*/
    font-size: 14px;
    font-weight: 600;
    color: #b3b3b3;
    /*Miscellaneous*/
    gap: 20px;
}

div.section-playlist__content {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
}

div.section-playlist__content span.text {
    /*Box model stuff*/
    padding-bottom: 14px;
    /*Typography stuff*/
    color: #ffffff;
}

div.section-playlist__content span.title {
    /*Typography stuff*/
    font-weight: 700;
}

div.section-playlist__content span.subtitle {
    /*Typography stuff*/
    font-size: 12px;
    font-weight: 500;
}

button.section-playlist__button {
    /*Display stuff*/
    display: flex;
    justify-content: center;
    /*Box model stuff*/
    width: 113px;
    margin-top: 12px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    background-color: #ffffff;
    /*Typography stuff*/
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

div.cookies {
    /*Box model stuff*/
    margin: 25px 20px;
}

div.cookies a {
    /*Typography stuff*/
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #b3b3b3;
}

div.cookies a:hover {
    /*Typography stuff*/
    text-decoration: underline;
}

button.languages__button {
    /*Display stuff*/
    align-items: center;
    /*Box model stuff*/
    width: 170px;
    margin: 8px;
    padding: 8px;
    border: 1px solid #878787;
    border-radius: 20px;
    background-color: transparent;
    /*Typography stuff*/
    font-weight: bold;
    color: #ffffff;
    /*Miscellaneous*/
    cursor: pointer;
}

/* footer */

footer.disclaimer-premium {
    /*Display stuff*/
    display: flex;
    justify-content: space-between;
    /*Positioning stuff*/
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /*Box model stuff*/
    padding: 15px 40px;
    background: linear-gradient(to right, #ae2896, #509bf5);
}

footer.disclaimer-premium div.text {
    /*Display stuff*/
    flex-shrink: 0;
    /*Box model stuff*/
    padding-bottom: 14px;
    /*Typography stuff*/
    color: #ffffff;
}

p.disclaimer-premium__title {
    /*Box model stuff*/
    margin-bottom: 10px;
    /*Typography stuff*/
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

p.disclaimer-premium__subtitle {
    /*Typography stuff*/
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

div.button button {
    /*Display stuff*/
    flex-shrink: 0;
    /*Box model stuff*/
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    background-color: #ffffff;
    /*Typography stuff*/
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    /*Miscellaneous*/
    cursor: pointer;
}